.slider_element{
    min-height: 69vh;
    width: 100%;
 
    .Main_slide{
        min-height: inherit;
        width: inherit;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
         .slider_text{
             padding: 2rem;
             h1{
                 font-size: 2rem;
                 font-family: sans-serif;
             }
         }
        
    }
}