.sahi{
    margin-left: 1rem;
    display: flex;
    // width: 100%;
  

    img{
       
        width: 10rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 5px;
        
    }
}
.image__overlay{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
     width: 100%;
    background: rgba(0, 0, 0, 0.4)  ;
    padding-bottom: 10px;
    opacity: 0;
    &:hover{
        opacity: 1;
    }
}
.contetnt{
   margin-bottom: 1rem;
   margin-top : 1rem;
    h3{
        font-family: sans-serif;
         padding-bottom: 1rem;
         padding-left: 1rem;
         font-size: 1.2rem;
    }
}
